@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h4>Add a new task</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)
  <input type="submit" value="Add new Stylist" />
}
<p>@Html.ActionLink("Show all Stylists", "Index")</p>